.choice-container {
    display: flex;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(25, 125, 255);
    background-color: rgb(255, 255, 255);
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(40, 108, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    color: rgb(50, 78, 240);
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #62866a;
  }
  
  .incorrect {
    background-color: #a15960;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: #fff;;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    border-radius: 10px;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 4rem;
    background-color: #56a5eb;
    width: 0%;
  }
  
  /* LOADER */
  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }