body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    }
    
    header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    .user{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user p {
        color: #fff;
        margin-right: 15px;
    }

    .user button{
        color: white;
        background-color: #000;
        border: 2px solid rgb(114, 77, 136);
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }

    .user button:hover{
        background-color: rgb(132, 14, 201);
        color: white;
        cursor: pointer;
    }
    
    #title{
    flex-direction: column;
    line-height: 10px;
    padding-left: 50px;
    }
    
    li{
    display: inline-block;
    margin: 20px;
    }
    
    a{
    color: white;
    }
    
    a:hover{
    color: rgb(126, 98, 143);
    transition: 0.3s all;
    }
    
    #inscreva-se-btn{
    border: 2px solid rgb(114, 77, 136);
    padding: 10px;
    border-radius: 15px;
    }
    
    #inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
    }
    
/* ESTILO GERAL */

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #a200ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #9900ff;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #8400ff;
    transform: scale(1.05);
}


/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #9900ff;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #8400ff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.flex {
    display: flex;
}

/*caixas*/

.caixas div {
    box-shadow: 0 0 20px #ffffff78;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    margin: 20px;
}

.caixas h3 {
    font-size: 28px;
    margin: 15px 0;
}

.caixas {
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #111;
    align-items: center;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}